
.home {
  
    padding-top: 30px;
    height: 100%;
    
    .config_main{
        width: 98%;
 
         .config_controller{
            background-color: white;
            padding: 30px;
            border-radius: 5px;
            margin-bottom: 10px;
            .config_top{
                margin-bottom: 30px;
            }
           
         }   
    }
}